
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">

    <title>Investimentos</title>
</head>
<body>


<nav class="navbar navbar-expand navbar-dark bg-primary" th:fragment="navbarInicio" style="background-color:white;">
    <a href="" class="navbar-brand" th:href="@{/}"><img width="100" th:src="@{/ufrpeSimbolo-removebg-preview.png}"></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <h2><a href="#" class="nav-item active nav-link" th:href="@{/}">Sobre nós</a></h2>
            <h2><a href="#" class="nav-item active nav-link" th:href="@{/}">Trabalhe conosco</a></h2>
        </ul>
    </div>
</nav>
</body>
</html>