<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Stocks Application</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div align="center" class="container my-2">
    <h1 align="le">Página de admnistração</h1>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <td>CPF</td>
            <td>Nome</td>
            <td>Email</td>
            <td>Telefone</td>
            <td>Total Investido</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario: ${usuarios}">
            <td th:text="${usuario.cpf}"></td>
            <td th:text="${usuario.nome}"></td>
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.telefone}"></td>
            <td th:text="${usuario.totalInvestido}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}"><button>Voltar Página de login</button></a>


</div>
</body>
</html>